﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/PageLogin.cshtml";
}



    <div class="wthree-dot">
        <h1>Login & Signup</h1>
        <div class="profile">
            <div class="wrap">
                <div class="content-main">
                    <div class="w3ls-subscribe w3ls-subscribe1">
                        <h4>Already have an account?</h4>
                 
                        <form action="Verify" method="post">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="password" name="Password" placeholder="Password" required="">
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
                <div class="content-main content-main1">
                    <div class="w3ls-subscribe">
                        <h4>New Customer?</h4>
                       
                        <form action="AddUser" method="post">
                            <input type="text" name="Name" placeholder="Name" required="">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="password" name="Password" placeholder="Password" required="">
                        
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
